.main-content{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#000000;
    height:170vh;
    width:100%;
    overflow:hidden;

   
}


.possible-line{
    /*
    position:absolute;
    top:40vh;
    */
    margin-top:10vh;
    padding:0;
    width:75%;
    height:40%;
    background-color:transparent;
    z-index: 1;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    text-align:center;
    font-family: "Times-New-Roman", sans-serif;
    gap:8%;
    
    animation: expand 1.2s ease-out;
    animation-fill-mode: backwards;
    animation-delay:0.3s;
}

@keyframes expand {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.possible-line h1{
    animation: pulseGlow 2s infinite 1.2s;
    font-size: clamp(20px, 10vw, 200px);
    color: white;
    margin:0;
    
}

.possible-line h2{
    font-size: clamp(16px, 2vw, 32px);
    color:#ffffff;
    margin-top:0;
}

.possible-line p{
    font-size: clamp(5px, 1.6vw, 50px);
    /*color: rgb(159, 159, 159);*/
    color:white;
    margin-top: 0vh;
}

@keyframes pulseGlow {
    0%, 100% {
        text-shadow: 0 0 10px rgba(255,255,255,0.2);
    }

    50% {
        text-shadow: 0 0 25px rgba(255,255,255,0.6);
    }
}

.upload-section {
    background-color: transparent;
    width:clamp(280px, 40%, 700px);
    height:40%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.image-display {
    background-color: transparent;
    height:90%;
    width:80%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#preview {
    width:clamp(280px, 100%, 512px);
    height:auto;
    object-fit:contain;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: transparent;
    height:100%;
    width: 100%;
}


@keyframes loadIn {
    from {
        opacity: 0;
        transform: translateY(30vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


footer {
  background-color: #151515;
  color: white;
  text-align: center;
  margin:0;
  padding:0;
  height:8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
    font-family: "space grotesk", sans-serif;
    font-size: clamp(5px, 1vw, 20px);
}